/* Estilos generales */
body {
    font-family: "Rajdhani", sans-serif;
    background: #1b2330;
    color: #45F882;
    font-weight: 600;
}
@media (max-width: 768px) {
    .navbar-collapse {
      display: block !important;
    }
  }

/* Estilos de la cabecera y pie de página */
.custom-header, .footer {
    background-color: black;
    color: #34eb4f;
}

/* Estilos para las imágenes del carrusel */
.carousel-item-img-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 10px;
}

.carousel-item-img-wrapper img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.carousel-item-img-wrapper img:hover {
    transform: scale(1.05);
}

/* Estilos de la línea horizontal */
.custom-hr {
    border: 0;
    height: 3px;
    width: 80%;
    background-color: #34eb4f;
    margin: 20px auto;
}

/* Estilos de los íconos sociales */
.social-icon i {
    transition: color 0.3s ease;
}

.social-icon:hover i.fa-whatsapp {
    color: #05af43;
}

.social-icon:hover i.fa-instagram {
    color: #E4405F;
}

.social-icon:hover i.fa-facebook {
    color: #3b5998;
}

/* Estilos de las tarjetas */
.card {
    background-color: transparent;
    transition: transform 0.3s;
    font-weight: bold;
}

.card-text, .card-title {
    color: #45F882;
    font-weight: 600;
}

.card:hover {
    transform: translateY(-10px);
}

/* Colores de texto personalizados */
.text-green {
    color: #45F882;
}

.text-dark-green {
    color: #34eb4f;
}

/* Estilos para los botones */
.btn-outline-success.text-white {
    border-color: #34eb4f;
    color: #34eb4f;
}

.btn-outline-success.text-white:hover {
    background-color: #34eb4f;
    color: black;
}

/* Estilos del modal */
.custom-modal-content {
    background-color: #1b2330;
    color: #ffffff;
}

.custom-modal-content .modal-header,
.custom-modal-content .modal-footer {
    border: none;
}

.custom-modal-content .modal-header .modal-title,
.custom-modal-content .modal-body,
.custom-modal-content .modal-footer button {
    color: #45F882;
}

.custom-modal-content .btn-secondary {
    background-color: transparent;
    border: 2px solid #45F882;
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.custom-modal-content .btn-secondary:hover {
    background-color: #34eb4f;
    color: white;
}

.custom-modal-content .modal-body img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.btn-whatsapp {
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-whatsapp i {
    margin-right: 10px;
}

.btn-whatsapp:hover {
    background-color: #1EBE5A;
    text-decoration: none;
}

.btn-whatsapp i.fab.fa-whatsapp {
    font-size: 1.5rem;
}

