/* Estilos Generales */
body {
    font-family: "Rajdhani", sans-serif;
    background: #1b2330 !important;
    color: #45F882;
    font-weight: 600;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .navbar-collapse {
        display: block !important;
    }

    #canvas-container {
        padding-bottom: 150%;
    }

    #controls select, #controls input, #controls button {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    #canvas-container {
        padding-bottom: 170%;
    }
}

/* Estilos de Cabecera y Pie de Página */
.custom-header, .footer {
    background-color: black;
    color: #34eb4f;
}

/* Estilos del Contenedor del Canvas */
#canvas-container {
    position: relative;
    width: 100%;
    padding: 5% 0;
    border-radius: 10px;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Estilos para los Controles */
#controls {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

input[type="file"], select {
    max-width: 100%;
}

/* Estilos de las Imágenes del Carrusel */
.custom-carousel-image {
    max-width: 70%;
    margin: 0 auto;
    object-fit: contain;
}

.carousel-item-img-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 10px;
}

.carousel-item-img-wrapper img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.carousel-item-img-wrapper img:hover {
    transform: scale(1.05);
}

/* Estilos de la Línea Horizontal */
.custom-hr {
    border: 0;
    height: 3px;
    width: 80%;
    background-color: #34eb4f;
    margin: 20px auto;
}

/* Estilos de los Íconos Sociales */
.social-icon i {
    transition: color 0.3s ease;
}

.social-icon:hover i.fa-whatsapp {
    color: #05af43;
}

.social-icon:hover i.fa-instagram {
    color: #E4405F;
}

.social-icon:hover i.fa-facebook {
    color: #3b5998;
}

/* Estilos de las Tarjetas */
.card {
    background-color: transparent;
    transition: transform 0.3s;
    font-weight: bold;
}

.card-text, .card-title {
    color: #45F882;
    font-weight: 600;
}

.card:hover {
    transform: translateY(-10px);
}

/* Colores de Texto Personalizados */
.text-green {
    color: #45F882;
}

.text-dark-green {
    color: #34eb4f;
}

/* Estilos para los Botones */
.btn-outline-success.text-white {
    border-color: #34eb4f;
    color: #34eb4f;
}

.btn-outline-success.text-white:hover {
    background-color: #34eb4f;
    color: black;
}

/* Estilos del Modal */
.custom-modal-content {
    background-color: #1b2330;
    color: #ffffff;
}

.custom-modal-content .modal-header,
.custom-modal-content .modal-footer {
    border: none;
}

.custom-modal-content .modal-header .modal-title,
.custom-modal-content .modal-body,
.custom-modal-content .modal-footer button {
    color: #45F882;
}

.custom-modal-content .btn-secondary {
    background-color: transparent;
    border: 2px solid #45F882;
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.custom-modal-content .btn-secondary:hover {
    background-color: #34eb4f;
    color: white;
}

.custom-modal-content .modal-body img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilos para el Botón de WhatsApp */
.btn-whatsapp {
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-whatsapp i {
    margin-right: 10px;
}

.btn-whatsapp:hover {
    background-color: #1EBE5A;
    text-decoration: none;
}

.btn-whatsapp i.fab.fa-whatsapp {
    font-size: 1.5rem;
}

/* Estilos para la sección informativa */
.info-box {
    border: 1px solid #ced4da; /* Borde gris claro */
    color: #1EBE5A; /* Color de texto oscuro */
    border-radius: 10px;
}

.info-box h4 {
    color: #45F882; /* Color verde para el título */
}

.info-box p {
    margin-bottom: 1rem; /* Espaciado entre párrafos */
}